<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<%= @article.id %>
<br>
<%= @article.title %>
<br>
<%= @article.content %>
<br>
<br>

<%= link_to "Edit article", edit_article_path  %>
<br>
<%= link_to "Delete", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<br>
<br>
<%= link_to "Go back to - Article Overview", articles_path %>


